altair==5.3.*
altair_tiles==0.3.*
dash==2.16.*
dash-bootstrap-components==1.5.*
dash-vega-components==0.9.*
debugpy==1.8.*
decorator==5.1.*
Flask==3.0.*
matplotlib==3.8.*
matplotlib-inline==0.1.*
numpy==1.26.*
pandas==2.2.*
pip==24.*
plotly==5.19.*
requests==2.31.*
vegafusion==1.6.*
vegafusion-python-embed==1.6.*
zipp==3.17.*
gunicorn==21.2.*
vega-datasets==0.9.*
openmeteo_requests==1.2.*
requests_cache==1.2.*
retry-requests==2.0.*
